$transition: .3s ease-in-out;

$divider-color: rgba(0, 0, 0, .12);
$divider: 1px solid $divider-color;

$pad: 16px;
$pad-half: $pad * .5;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;

* {
	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}

.md-toolbar-secondary {
	$height: 56px;
	
	min-height: $height;
	
	.md-toolbar-tools {
		height: $height;
	}
}

.refinement + .refinement {
	border-top: $divider;
}

.md-toolbar-tools > .md-icon-button:first-child {
	margin-left: -12px;
}

.menu-button {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding: $pad-half $pad;
	margin: 0;

	md-icon:first-child {
		width: $pad-and-half;
		margin: 0 $pad-double 0 0;
	}

	+ md-list {
		padding: 0;
	}

	.open-indicator {
		transform: rotate3d(0, 0, 1, 0);
		transition: transform $transition;
	}

	&.is-open {
		// background-color: rgb(238,238,238);

		.open-indicator {
			transform: rotate3d(0, 0, 1, -180deg);
		}
	}
}

.md-avatar.md-avatar--placeholder {
	text-align: center;
	line-height: 42px;
	color: white;

	&.ales-stouts {
		background: #3c761b;

		&::before {
			content: 'A';
		}
	}

	&.finest-cask {
		background: #e39139;

		&::before {
			content: 'F';
		}
	}

	&.craft {
		background: #4b838e;
		
		&::before {
			content: 'Cr';
		}
	}

	&.cider {
		background: #a6537c;
		
		&::before {
			content: 'C';
		}
	}

	&.lager {
		background: #bd8f04;
		
		&::before {
			content: 'L';
		}
	}

	&.spirits {
		background: #654fa5;
		
		&::before {
			content: 'S';
		}
	}

	&.ready-to-drink {
		background: #5d7fa5;
		
		&::before {
			content: 'R';
		}
	}

	&.soft-drinks {
		background: #cb2c28;
		
		&::before {
			content: 'So';
		}
	}

	&.wine {
		background: #72234a;
		
		&::before {
			content: 'W';
		}
	}

	&.sundries {
		background: #2e7bdd;
		
		&::before {
			content: 'M';
		}
	}
}

// Rules
.md-avatar--placeholder,
.md-fab--custom {
	color: white !important;

	&.search-listing {
		background: #F44336 !important;

		&::before {
			content: 'SL';
		}
	}

	&.search-ranking {
		background: #2196F3 !important;

		&::before {
			content: 'SR';
		}
	}

	&.canned-listing {
		background: #009688 !important;

		&::before {
			content: 'CS';
		}
	}

	&.redirects {
		background: #00BCD4 !important;

		&::before {
			content: 'R';
		}
	}

	&.content-areas {
		background: #8BC34A !important;

		&::before {
			content: 'C';
		}
	}

	&.related-product-listing {
		background: #FF5722 !important;

		&::before {
			content: 'PL';
		}
	}
}

.material-search-wrapper {
	flex: 1;
	display: flex;
	position: relative;
	max-width: 800px;
	margin-left: $pad-double;
	color: rgba(0, 0, 0, .54);

	md-icon {
		position: absolute;
		top: 50%;
		margin-top: -12px;
		left: $pad;
		z-index: 2;
		color: inherit !important;
	}
}

.material-search {
	background-color: rgba(255, 255, 255, .54);
	transition: background-color 0.2s;
	padding: 0 $pad 0 68px;
	box-sizing: border-box;
	height: 50px;
	border: none;
	border-radius: 3px;
	width: 100%;
	color: inherit;
	font-size: 15px;
	font-weight: 400;
	outline: none;
	flex-shrink: 1;

	&--small {
		height: 40px;
	}
}

.action-bar {
	height: 56px;
	padding: 0 $pad;
	background-color: rgb(238, 238, 238);
	color: rgba(0, 0, 0, .87);

	.md-menu {
		padding: 0;
	}

	.list-actions {
		margin-right: -$pad;
	}
}

md-select + md-select {
	margin-left: $pad;
}

.quantity-input-wrapper {
	padding: 0;

	.quantity-input {
		order: 0;
		width: $pad*3;
	}

	.md-button {
		margin: 0 $pad-half;
		min-width: 30px;
		min-height: 30px;
		line-height: 30px;
		border-radius: 3px;
		font-size: $pad;
	}
}

.md-fab.md-fab {
	&--large {
		height: $pad*6;
		width: $pad*6;
		margin: $pad;
		text-transform: none;
	}

	&--plus {
		font-size: $pad*3;
	}
}

[ui-view]:empty {
	display: none !important;
}

[ui-view='bottom-drawer'] {
	z-index: 60;
}

.basket-drawer {
	&__upper {
		border: $divider;
		border-width: 1px 0;
	}
}

.rule {
	transition: background-color .1s;

	&.is-active {
		background: #E8F5E9;

		.md-button:hover {
			background: transparent;
		}
	}

	&__name {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

nav {
	.md-button {
		padding: 6px $pad 6px $pad-double;
		margin: 0;
		text-align: left;
		text-transform: none;
	}
}

hr {
	width: 100%;
	border: 1px solid rgba(0,0,0,0.12);
	border-width: 1px 0 0;
}

.column-button {
	text-align: left;
	margin: 0;
	padding: $pad-half $pad;
	border-radius: 0;
}

md-dialog md-dialog-content {
	padding: $pad-and-half;
}

.natural-language {
	display: flex;
	align-items: center;

	md-select {
		margin: 0 .25em 6px;
	}
}
