<md-content>
	<nav layout="column">
		<md-button ng-href="/personalisations/">Personalisations</md-button>
		<md-button ng-href="#">Search listings</md-button>
		<md-button ng-href="#">Search ranking</md-button>
		<md-button ng-href="#">Canned search results</md-button>
		<md-button ng-href="#">Redirect</md-button>
		<md-button ng-href="#">Content</md-button>
		<md-button ng-href="#">Related product listing</md-button>
		<md-button ng-href="#">Canned related products</md-button>
		<hr style />
		<md-button ng-href="#">Configuration</md-button>
	</nav>
</md-content>
