<md-toolbar layout="row" class="md-toolbar-secondary">
	<div class="md-toolbar-tools" layout-margin>
		<md-button class="md-icon-button" aria-label="Menu">
          <md-icon md-svg-icon="/assets/images/icons/menu.svg"></md-icon>
        </md-button>
		<h3>Products</h3>
		<span flex></span>
		<md-button class="md-raised" ng-href="/outlets/:id">402311</md-button>
		<div class="md-body-1" layout-margin>
			<strong>Time slot:</strong>
			<span>Wed 16 February 09:00 - 11:00</span>
		</div>
		<md-button aria-label="View basket" ng-href="/basket">
			<p layout="row" layout-align="end center">
				<md-icon md-svg-src="/assets/images/icons/cart.svg"></md-icon>
				&nbsp;
				<span class="md-body-1">
					<strong>£34.83</strong>
					<span>(1)</span>
				</span>
			</p>
		</md-button>
	</div>
</md-toolbar>