<md-dialog aria-label="Edit rule">
	<form novalidate name="vm.ruleForm">
		<md-dialog-content>
			<h2 class="md-title" ng-bind="::vm.title"></h2>

			<div ng-switch="vm.action.component">
				<div ng-switch-when="remove-from-listing" rule-remove-from-listing actions="vm.rule.actions"></div>
				<div ng-switch-when="tier-listing" rule-tier-listing actions="vm.rule.actions"></div>
				<div ng-switch-when="ranking" rule-ranking actions="vm.rule.actions"></div>
			</div>

		</md-dialog-content>

		<div class="md-actions">
			<md-button ng-click="vm.cancel()">Cancel</md-button>
			<md-button class="md-primary" ng-click="vm.confirm()">OK</md-button>
		</div>
	</form>
</md-dialog>
