<md-toolbar class="md-warn" ng-show="vm.errorMessage">
	<div class="md-toolbar-tools">
		<p class="md-flex" ng-bind="vm.errorMessage"></p>
	</div>
</md-toolbar>

<h1>Log in</h1>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
	<md-button ng-repeat="provider in vm.authenticationProviders" class="md-fab md-primary" aria-label="Log in with {{provider.name}}" ng-click="vm.loginWith(provider)">
		<md-icon md-svg-src="/assets/images/icons/{{provider.name}}.svg"></md-icon>
	</md-button>
</section>
